/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* -------------------------- HOME ----------------------------- */
.Home {
    background-image: url('./plane_wallpaper.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
}

/* Default (mobile-first) styles */
.left, .right {
  margin-top: 60px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

/* Default: hide on small screens */
.hide-on-mobile {
  display: none;
}

/* Show on screens >= 768px */
@media (min-width: 768px) {
  .hide-on-mobile {
    display: block;
  }
}

  /* Media query for larger screens */
@media (min-width: 768px) {
    .Home {
      flex-direction: row;
    }
  
    .left {
      margin-top: 60px;
      width: 60%;
    }
  
    .right {
      width: 40%;
    }
}

html {
  scroll-behavior: smooth;
}

/* -------------------------- ABOUT ME ----------------------------- */
.Experience {
  display: flex;
  background-image: url('./plane_wallpaper.png'); /* Update with the correct path to the image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    box-sizing: border-box;
}

.Projects {
  display: flex;
  background-image: url('./plane_wallpaper.png'); /* Update with the correct path to the image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    box-sizing: border-box;
}

/* -------------------------- SKILLS ----------------------------- */
.skill-card {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 15px;
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.skill-icon {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.skill-name {
  margin: 0;
  font-size: 1rem;
}
/* ------------------------------ */