/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* -------------------------- HOME ----------------------------- */
.Home {
    background-image: url('./wallpaper.png'); /* Update with the correct path to the image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    box-sizing: border-box;
}

  /* Style for the left and right sections */
.left, .right {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
  
  /* Media query for larger screens */
@media (min-width: 768px) {
    .Home {
      flex-direction: row;
    }
  
    .left {
      width: 55%;
    }
  
    .right {
      width: 45%;
    }
}

html {
  scroll-behavior: smooth;
}


/* -------------------------- ABOUT ME ----------------------------- */
.About {
  display: flex;
  background-image: url('./plane_wallpaper.png'); /* Update with the correct path to the image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    box-sizing: border-box;
}

.About .left {
  width: 40%;
  /* Optional: Add other styling like padding, background, etc. */
}

.About .right {
  width: 60%;
  /* Optional: Add other styling like padding, background, etc. */
}

  /* Media query for larger screens */
  @media (min-width: 768px) {
    .About {
      flex-direction: row;
    }
  
    .About .left {
      width: 40%;
    }
  
    .About .right {
      width: 60%;
      margin: 50px;
    }
}

/* -------------------------- ABOUT ME ----------------------------- */
.Experience {
  display: flex;
  background-image: url('./plane_wallpaper.png'); /* Update with the correct path to the image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    box-sizing: border-box;
}

.Projects {
  display: flex;
  background-image: url('./plane_wallpaper.png'); /* Update with the correct path to the image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  box-sizing: border-box;
}