.card {
  background-color: var(--mantine-color-body);
  width: 350px; /* Increased width by 1.5 times */
  margin: 0px auto; /* Adjust as needed */
  height: fit-content; /* Keeps height flexible to content */
  padding: 1.2rem; /* Adjust padding - you can also scale this by 1.5 */
  font-size: 1.125rem; /* Optional: Adjust font size if necessary */
}

.avatar {
  border: 2px solid var(--mantine-color-body); /* Adjusted border size */
  width: 120px; /* Larger avatar */
  height: 100px; /* Make sure to keep it a square */
}